@model fptshop1.Models.ProDetail

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tạo Sản Phẩm</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
    
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="control-label col-md-2">
            MÃ SẢN PHẨM
        </div>
        <div class="col-md-10">
            @Html.DropDownList("ProID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ProID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">
            NHÀ CUNG CẤ 
        </div>
        <div class="col-md-10">
            @Html.DropDownList("SupID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SupID, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                MÀU SẮC 
            </div>
            <div class="col-md-10">
                @Html.DropDownList("ColorID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ColorID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                SỐ LƯỢNG SẢN PHẨM
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.RemainQuantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RemainQuantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                LƯỢNG SẢN PHẨM ĐÃ BÁN 
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoldQuantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoldQuantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                LƯỢT XEM 
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ViewQuantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ViewQuantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm mới " class="btn btn-default" />
                @Html.ActionLink("Danh sách", "Index", null, new { @class = "btn btn-info" })
            </div>
        </div>
    </div>
}

