@model fptshop1.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>XÓA SẢN PHẢM </h2>
<br />
<h3>Bạn có chắc là muốn xóa sản phẩm ?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Sản Phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProName)
        </dd>

        <dt>
            Hình:

        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProImage)
        </dd>

        <dt>
            Mô Tả Sản Phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameDecription)
        </dd>

        <dt>
            Ngày Tạo Sản Phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            Giá tiền:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            Nhãn Hàng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.NameCate)
        </dd>
        <br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Xóa " class="btn btn-primary" />
            @Html.ActionLink("Danh sách", "Index", null, new { @class = "btn btn-info" })
        </div>
    }
    </dl>
</div>
